@import "variables";

body {
  padding: 170px 0 0 0;
  @media screen and (min-width: 992px) {
  padding: 200px 0 0 0;
  }
  background-color: rgba(232, 232, 232, 0.21);
}

a {
  color: $links-color;
}

h1 {
  font-size: $heading1;
}

