@import "../base/variables";

#header {
  background-color: $background-color;
  position: fixed;
  z-index: 99;
  top: 0;
  margin-top: 0;
  left: 0;
  right: 0;
  -moz-box-shadow: 0 2px 4px rgba(22,22,22,.1);
  -webkit-box-shadow: 0 2px 4px rgba(22,22,22,.1);
  box-shadow: 0 2px 4px rgba(22,22,22,.1);
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  transition: all .15s ease;
}

#header.sticky {
  margin-top: -52px
}

.site-branding {
  text-align: center;
  margin-top: 10px;
  img {
    width: 40%;
  }
  @media screen and (min-width: 480px) {
    img {
      width: 20%;
    }
  }

}

.fv-col {
  padding-left: 7.5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26), 0px 2px 10px 0px rgba(0, 0, 0, 0.16) !important;
  color: #222 !important;
}

#footer {
  p {
    text-align: center;
  }
}

.breadcrumb {
  margin-top: 13px;
  background-color: inherit;
}